* {
    margin: 0;
}

html, body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-title {
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;
