* {
    margin: 0;
}

html, body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Hermit", monospace;
    font-size: 1em;
}

body {
    padding-left: 1.5em;
}

.fg-silver {color: silver;}

#header {
    margin-bottom: 5em
}

#main-title {
    display: inline-block;

    padding-top: 1em;
    margin: 0 auto;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    font-size: 2.0em;
    font-weight: 900;

    border-bottom: solid 2px lightslategray;
}

a.article {
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
}

/* colors */
.marked {
    color: steelblue;
}

/* text styles */
.it { font-style: italic; }

/* spacing */
.mrg-tp0 { margin-top: 0.25em; }
.mrg-tp1 { margin-top: 0.5em; }
.mrg-bt0 { margin-bottom: 0.25em; }
.mrg-bt1 { margin-bottom: 0.5em; }
