html, body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}

header, nav, footer {
    margin: 0;
    padding: 0;
}
